<label for="langTo">Choose Language To Translate Into: </label> 
<select id="langTo" [formControl]="langTo">
  <option value="en" selected>English</option>
  <option value="es">Spanish</option>
  <option value="de">German </option>
  <option value="ar">Arabic</option>
  <option value="ja">Japanese</option>
</select>

<label for="langFrom" style ="padding-left: 15px">Choose Language To Translate From: </label> 
<select id="langFrom" [formControl]="langFrom">
  <option value="en" selected>English</option>
  <option value="es">Spanish</option>
  <option value="de">German </option>
  <option value="ar">Arabic</option>
  <option value="ja">Japanese</option>
</select>

<hr>

<div *ngIf="voiceActiveSectionDisabled; else voicesection;">
  <button type="button" (click)="startVoiceRecognition()">Record</button>
</div>
<ng-template #voicesection>
  <ng-container *ngIf="!voiceActiveSectionError; else failure">
    <ng-container *ngIf="voiceText; else start">
        <span>{{voiceText}}</span>
    </ng-container>
    <ng-template #start>
      <ng-container
        *ngIf="voiceActiveSectionListening; else beginning">
        <span>Listening...</span>
      </ng-container>
      <ng-template #beginning>
        <span>Start talking...</span>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #failure>
    <span>Didn't catch that</span>
  </ng-template>
  <div>
    <button (click)="closeVoiceRecognition()">Close</button>
    <button (click)="startVoiceRecognition()">Restart</button>
  </div>
</ng-template>


<h1>{{ data.title }}</h1>
<h2>{{ data.description }}</h2>
<p>{{ data.detail }}</p>


<button id="translatebtn" (click)="send()">Translate</button>


 <div class ="row">
  <app-roleplay></app-roleplay>
</div>

<hr> 
<button (click) = "onCheckScore('nice to meet you, my name is Fabrizio Alegre. Where are you from?',voiceText)">Check Score</button>
<div>nice to meet you, my name is Fabrizio Alegre. Where are you from?</div>
<div>{{score}}</div>

<hr> 
<button (click) = "onCheckScore('hola',voiceText)">Check Score</button>
<div>hola</div>
<div>{{score}}</div>