<label for="langTo">Choose Language To Translate Into: </label>
<select id="langTo" [formControl]="langTo">
  <option value="en" selected>English</option>
  <option value="es">Spanish</option>
  <option value="de">German </option>
  <option value="ar">Arabic</option>
  <option value="ja">Japanese</option>
</select>

<label for="langFrom" style ="padding-left: 15px">Choose Language To Translate From: </label>
<select id="langFrom" [formControl]="langFrom">
  <option value="en" selected>English</option>
  <option value="es">Spanish</option>
  <option value="de">German </option>
  <option value="ar">Arabic</option>
  <option value="ja">Japanese</option>
</select>

<hr>

<div *ngIf="voiceActiveSectionDisabled; else voicesection;">
  <button type="button" (click)="onStartVoiceRecognition()">Record</button>
</div>
<ng-template #voicesection>
  <ng-container *ngIf="!voiceActiveSectionError; else failure">
    <ng-container *ngIf="voiceText; else start">
        <span>{{voiceText}}</span>
    </ng-container>
    <ng-template #start>
      <ng-container
        *ngIf="voiceActiveSectionListening; else beginning">
        <span>Listening...</span>
      </ng-container>
      <ng-template #beginning>
        <span>Start talking...</span>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #failure>
    <span>Didn't catch that</span>
  </ng-template>
  <div>
    <button (click)="onCloseVoiceRecognition()">Close</button>
    <button (click)="onStartVoiceRecognition()">Restart</button>
  </div>
</ng-template>


<h1>{{ data.title }}</h1>
<h2>{{ data.description }}</h2>
<p>{{ data.detail }}</p>


<button id="translatebtn" (click)="send()">Translate</button>



<hr>
<button (click) = "onCheckScore('nice to meet you, my name is Fabrizio Alegre. Where are you from?',voiceText)">Check Score</button>
<div>nice to meet you, my name is Fabrizio Alegre. Where are you from?</div>
<div>{{score}}</div>

<hr>
<button (click) = "onCheckScore('私は宣教師です',voiceText)">Check Score</button>
<div>私は宣教師です</div>
<div>{{score}}</div>

<hr>


<div class ="row">
  <app-paragraph></app-paragraph>
</div>

<hr>

<audio #audioOption>
  <source src='../assets/soundFile/Me llamo Benjamin Brown.mp3' type="audio/mp3">
</audio>

<button (click)="playAudio()">Sound</button>

<!-- <vg-player>
  <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
      <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
  </video>
</vg-player> -->
